{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    <script>
        $(document).ready(function() {
            $("#login > p").css("color", "red");
        });
    </script>
{% endblock %}
{% block content %}
    <h1>Sign In</h1>
    <div class="formDiv">
        <!--<form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=30) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=30) }}
            </p>
            <p id="submitButton">{{ form.submit() }}</p>
        </form>-->

        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                {{ form.password.label }}
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <p id="submitButton">{{ form.submit() }}</p>
            </div>
        </form>
    </div>
{% endblock %}