{% extends "base.html" %}
{% block title %}Order{% endblock %}
{% block head %}
    #content{
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
			grid-gap: 1em;
		}
{% endblock %}
{% block content %}
    <div class="formDiv">
        <ul>
            {% for item in order_items %}
                <li>{{ item['name'] }}</li>
            {% endfor %}
        </ul>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}

            <p>{{ form.submit() }}</p>
        </form>

    </div>
{% endblock %}