{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block head %}
    <script>
        $(document).ready(function() {
            $("#register > p").css("color", "red");
        });
    </script>
{% endblock %}
{% block content %}
    <h1>Register</h1>
    <div class="formDiv">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=30) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.fname.label }}<br>
                {{ form.fname(size=30) }}<br>
                {% for error in form.fname.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.lname.label }}<br>
                {{ form.lname(size=30) }}<br>
                {% for error in form.lname.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.phone.label }}<br>
                {{ form.phone(size=11) }}<br>
                {% for error in form.phone.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p id="submitButton">{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}